.m1 {
    text-align: center;
    padding-top: 25px;
    color: #E8C23E;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    margin: 0px 0px 31px 0px;
}

span {
    color: #3E45E8;
}

/* body {
    font-family: 'Inika', serif;
} */

.inika {
    padding-left: 80px;
    padding-top: 56px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

body {
    margin: 0px;
    background-color: #e5e5e5;
    font-family: 'Open Sans' sans-serif;
}

.page {
    margin: 0px;
    background-color: #e5e5e5;
    margin-top: 50px;

}

.box {
    max-width: 1440px;
    background-color: white;
    margin: 0 auto;
}

.banner {
    background-image: url(../image/image-1.png);
    width: 100%;
    height: 803px;
    background-repeat: no-repeat;
    background-size: 100%;
    /* box-sizing: border-box; */
    /* padding-top: 215px; */
}

.box-1 {
    height: 160px;
    width: 22px;
    background-color: #1e8cf2d5;
    margin: -320px 0px 0px 80px;

}

.box-2 {
    height: 160px;
    width: 22px;
    background-color: #fbe201d5;
    margin: 0px 0px 0px 80px;

}

/* .banner-text {
    color: white;
    font-size: 48px;
    width: 65%;
} */
.text-1 {
    padding-left: 120px;
    color: white;
    font-size: 48px;
    width: 65%;
    display: inline-block;
    padding-top: 231px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin: 0px 0px 0px 80px;
}

.card {
    max-width: 392px;
    /* border: 1px solid #FFFFFFa; */
    ;
    /* width: 392x; */
    display: inline-block;
    height: 480px;
    border-radius: 30px;
    vertical-align: middle;
    box-shadow: 0px 4px 57px 3px rgb(0 0 0 / 25%);
}

.card-f {
    margin-left: 87px;
}

.card-m {
    margin: 2.5%;

}

.card__image {
    width: 100%;
}

/* .hand {
    padding: 0px;
} */
.card__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #1e8df2;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px;
}

.card__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #e8c23e;
    font-size: 20px;
    padding-left: 10px;
    width: 256px;
}

.h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}

.second {
    /* margin: 21px 0px 0px 520px; */
    margin: 0 auto;
}

.image-ukraine {
    margin-top: 41px;
}

.box-3 {
    width: 591px;
    height: 121px;
    background-color: #2a61f0;
    margin: 35px 0px 0px 435px;

}

.h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 17px 0px 0px 90px;
}

.footer {
    background-color: #2f4a4b;
    height: 320px;
    margin-top: 21px;
}

.m2 {
    text-align: center;
    padding-top: 10px;
    color: #dfe31e;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    margin: 0px 0px 31px 0px;

}

.mail {
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    color: #a89d9d;
    padding-left: 530px;
}

.tel {
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    color: #a89d9d;
    padding-left: 600px;
}
.social {
    margin-left: 575px;
    margin-top: 20px;
}
