html {
    font-size: 10px;
}

.all {
    transition: all .5s;
}

body {
    margin: 0;
    font-weight: 400;
    background-color: #dcdcdc;
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 4;
}

.menu {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 700;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.menu-list {
    color: white;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 1.8rem 0rem 0rem 7.1rem;
}

.menu-list:hover {
    color: #AEAEE2;
}

.booking {
    background-color: #c6c6dc;
    height: 14rem;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
    font-style: italic;
    color: #202846;

}

.p {
    padding: 3.5rem 0rem 0rem 18rem;
}

.sticky-menu {
    background-color: #202846;
    height: 9rem;
    background-image: url(../Image/photo_2021-09-21_13-25-38\ 2.png);
    background-repeat: no-repeat;
    background-position: 10rem 1rem;
    padding-left: 32rem;


}


.globus {
    position: absolute;
}

.margin-list {
    margin: 0 auto;
    padding: 5.6rem;
    width: 80%;
    position: relative;
}

.circle {
    position: fixed;
    right: 35px;
    bottom: 30px;

}

.circle:hover {
    background-color: rgba(85, 87, 104, 1);
    border-radius: 5rem;
}

.arrow {
    position: absolute;
    top: 2.5rem;
    right: 3.8rem;
}

.border-list {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.61);
    border: 1px solid #e8e8e8;
    height: 7.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;


}

.triangle {
    position: absolute;
    right: 8rem;
    top: 8.2rem;
}

.back_width {
    width: 80%;
    margin: 0 auto;
}

.card {
    height: 30rem;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3.6rem;
    position: relative;
}

.card:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
    background-color: #AEAEE2;

}

.card:hover .card-link
{
    background-color: #EF075B;
    border-color: #EF075B;
}

.card:hover .card-star{
    z-index: 0;
}

.card_image {
    /* width: 30%; */
    height: 80%;
}

.card_image img {
    width: 100%;
}

.card_text {
    width: 50%;
    height: 80%;

}

.card_text-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.1vw;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: 1rem;
}

.card_text-desc {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1vw;
    color: #202846;
    border: 1px solid #d7d7dd;
    /* width: 100%; */
    height: 56%;
    text-align: center;
    padding: 2.2rem;
    background-color: #d7d7dd
}

.card-star,
.card-link,
.card-star-hover {
    position: absolute;
}

.card-star {
    top: 1rem;
    right: 1rem;
    z-index: 3;
}


.card-star-hover {
    top: 1rem;
    right: 1rem;
    z-index: 2;
}


.exit:hover {
 background-color: #EF075B;
 border-color: #EF075B;
}
.card-link {
    bottom: 1rem;
    right: -5rem;
    border: 1px solid #202846;
    border-radius: 4rem;
    width: 20rem;
    padding: 1.5rem 0;
    text-align: center;
    color: white;
    background-color: #202846;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    text-decoration: none;
}

.second {
    margin-top: 26.7rem;
}

.card-personal {
    border: 1px solid #bdbdc6;
    width: 70%;
    height: 49.8rem;
    display: flex;
    background-color: #bdbdc6;
    margin: 0 auto;
    position: relative;
    margin-top: 4rem;
}

.card-personal-image {
    width: 40%;
}

.lk,
.kote {
    position: absolute;
    top: 4.6rem;
    left: 13rem;
    border-radius: 12.5rem;
    width: 20%;
}

.buttom-1,
.buttom-2 {
    border: 1px solid #484a54;
    width: 22%;
    height: 5rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    text-align: center;
    padding-top: .8rem;
    box-sizing: border-box;
    background-color: #484a54;
    border-radius: 3rem;

}

.buttom-1:hover,
.buttom-2:hover {
    background-color: #69749b;
    border-color: #69749b;
}

.buttom-1 {
    position: absolute;
    top: 30rem;
    left: 12rem;
}

.buttom-2 {
    position: absolute;
    top: 38rem;
    left: 12rem;
}

.buttom {
    text-decoration: none;
    color: white;
}

.card-span {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.1vw;
    font-weight: 700;
    font-style: italic;
    color: #353C57;
}

.card-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.1vw;
    font-weight: 400;
    font-style: italic;
    color: #353C57;
    width: 56%;
    height: 80%;
    padding-top: 2rem;

}

.card-cont-tit {
    border-bottom: 3px solid white;
    padding-top: 3.5rem;
}

.lk-url {
    text-decoration: none;
    color: #353C57;
}

.exit {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.7rem;

    border: 1px solid #202846;
    width: 21.2rem;
    text-align: center;
    border-radius: 3.5rem;
    height: 6.2rem;
    padding-top: 1.2rem;
    box-sizing: border-box;
    background-color: #202846;
    margin: 0 auto;
    margin-top: 4.2rem;
}

.exit-1 {
    color: white;
    text-decoration: none;
}

.footer-width {
    width: 60%;
    margin: 0 auto;
}

.footer-info {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 6.5rem;
}

.info,
.info-2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 3rem;

}

.FI-url {
    text-decoration: none;
    color: #000000;
}

.info-bor {
    border-top: 3px solid #000000;
    padding-top: 1.5rem;
}

.info-2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 5.2rem;
}

.address {
    width: 25%;
    /* margin: 0rem 13.5rem 0rem 0rem; */
    padding-top: 3rem;
}

.map {
    border: 1px solid rgba(0, 0, 0, 0.05);
    ;

    overflow: hidden;
    height: 34rem;
    border-radius: 4rem;
}

.bottom {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.1vw;
    font-style: italic;
    color: #FFFFFF;
    background-color: #202846;
    height: 9rem;
    padding: 2rem 0 0 10rem;
    box-sizing: border-box;
    margin-top: 6.4rem;
}