.card {
   vertical-align: top;
   display: inline-flex;
}

.card-1 {
    width: 512px;
    height: 512px;
    background-color: black;
    /* display: inline-block; */
    border: 1px solid black;
}
.Diya {
    margin: 128px 0px 0px 101px;
}
.Flag {
    padding: 30px 0px 0px 216px;
}

.card-2 {
    /* display: inline-block; */
    border: 1px solid black;
    margin: 0px 90px 0px 90px;
}

.blue {
    width: 512px;
    height:  256px;
    background-color: #2137fc;
    padding-top: 257px;
    margin: 0px;
}
.yellow {
    width: 512px;
    height:  256.5px;
    background-color: #ffce22;
    margin: 0px;
    
} 

.wave-1 {
    margin: -112px 0px 0px 60px;
}
.card-3 {
    border: 1px solid black;
    width: 512px;
    height: 512px;
    
}

.blue-2 {
    width: 430px;
    height:  200px;
    background-color: #2137fc;
    padding-top: 215px;
    margin: 40px;
    border-radius: 230px;
}
.yellow-2 {
    width: 430px;
    height:  215.5px;
    background-color: #ffce22;
    margin: 0px;
    border-radius: 0px 0px 230px 230px;
} 

.wave-2 {
    margin: -15px 0px 0px 60px;
    width: 328px;
}